# MacOS now uses ZSH as the default shell and print a warning when you use other things
export BASH_SILENCE_DEPRECATION_WARNING=1

# Load the ~/.bashrc config file
[[ -s ~/.bashrc ]] && source ~/.bashrc
