ZSH_THEME="robbyrussell"
HIST_STAMPS="yyyy-mm-dd"

export GO111MODULE=off
export GOPATH="{{ gopath }}"
export EDITOR="{{ editor }}"
export PATH="$GOPATH/bin:$PATH"
export PS1="{{ prompt }}"
export ZSH="/Users/alex/.oh-my-zsh"

plugins=(git osx docker docker-compose)
source $ZSH/oh-my-zsh.sh

{% if editor == "nvim" %}
alias vim="nvim"
alias vimdiff="nvim -d"
{% endif %}

